@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
   
}
a {
	text-decoration: none !important;
}
.contaiiner {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.brandd h1 {
	font-size: 30px;
	text-transform: uppercase;
	color: white;
}
.brandd h1 span {
	color: #ff512f;
}
.cta {
    font-family: ;
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #ff512f;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing:1;
	margin-top: 30px;
	transition: 1s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #ff512f;
}
.section-title {
    font-size: 60px;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2%;
	text-align: center;
}
.section-title span {
	color: #ff512f;
}
img {
	height: 100%;
	width: 100%;
	object-fit:initial;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
p {
	color: black;
	font-size: 100%;
	margin-top: 5px;
	line-height: 140%;
	font-weight: 300;
	letter-spacing: 4;
}
/* Header section */


.taille
{
        display: flex;
        margin-left: 60%;
        margin-right: 13%;
       }
       .tll{

           padding:5% 35%!important;

       }

.popup{
    width: 100%;
   top: 0;
   display: none;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.popup-content{
    height: 480px;
    width: 380px;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    position: relative;
    margin: 6% auto;
    

}


.button-box{ 
    width: 220px;
    margin: 35px auto;
    position: relative ;
    box-shadow: 0 0 20px 9px #ff61241f ;
    border-radius: 30px;


}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background:transparent;
border: 0;
outline: none;
position: relative;
font-size: 20px;
font-weight: 500;
margin-left: -1px !important;
background:linear-gradient(45deg, #ff512f,#ffad06);
border-radius: 30px;
width:220px ;
margin-left: 0;
}


.social-icons{
    margin: 30px auto ;
    text-align: center;
    margin-top: 25%;
}
.social-icons img {
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;

}
.input-group{
    top: 10px;
    position: absolute;
    width: 280px;
    transition: .5s;
    
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;


}
.submit-btn{
    width:220px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:linear-gradient(45deg,#ff512f,#ffad06);
    border:0;
    outline: none;
    border-radius: 30px;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    margin-top: 7%;
   margin-left: 22% !important;
    
}
.close{
    position: absolute;
    top: -15px;
    right: -15px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 6px 6px 29px 4px rgb(0, 0,0,0.75);
    cursor: pointer;
}

.check-box{
    margin: 30px 10px 30px 0 ;
    margin-top: 15px !important;
    

}
#np span {
    color: #777777;
    font-size:12px;
    bottom: 68%;
   margin-left: 2%;
   margin-top: -1%;
    

}

  /* End Head Section */     
/* Hero Section */

#hero {
	background-image: url("3.jpg");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
.hero {
	max-width: 1200px;
    margin: 0 auto;
    margin-right:0;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1{
    color: transparent;
    
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;


    position: relative;
    width: fit-content;
	font-size: 4rem;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #ff512f;
	animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/*end hero section*/
/*keyframe*/

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #ff512f;
		font-weight: 500;
	}
}
/* End Keyframes */




/* End Hero Section */








/*projects Section */
.bg{
    background-color:  #485563;
    color:#fff;
    font-size: 13px;
    font-weight: 500;

}
.projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
.projects-header h1 {
	margin-bottom: 50px;
}
.all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.project-img {
	flex-basis: 50%;
	height: 220px;
	   
}
/* End Projects section */
/* Services Section */
.services {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
.service-top {
	max-width: 500px;
	margin: 0 auto;
}
.service-top p {
	font-size: 15px;

}
.service-bottom {
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    margin-top: 50px;
   
}
.service-bottom .icons {
	height: 80px;
	width: 80px;
    margin-bottom: 20px;


}
.icons {
    margin-left: 43%;
    margin-top: -1%;
    height: 50px;
    width: 50px;
}
.service-item h2 {
	font-size: 20px;
	color: rgb(255, 253, 253);
	margin-bottom: 10px;
	text-transform: uppercase;
}
.service-item p {
	color: rgb(255, 250, 250);
    text-align: left;
    font-size: 10px;
}
.service-item{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    z-index: -1;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    
}
.container{ 
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px));
    grid-gap: 20px;
    
}



 .containner{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    margin-left: 9%;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
grid-gap: 10px;
box-sizing: border-box;
}
 .containner .box{
    position: relative;
    background: rgb(129, 128, 128);
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}
 .containner .box:nth-child(1)
{
    background: linear-gradient(45deg,#0d456b,#47d9f0);
}
  .containner .box:nth-child(2)
{
    background: linear-gradient(45deg,#941e45,#ed55ff);
}

 .containner .box:nth-child(3)
{
    background: linear-gradient(45deg,#f05a4f,#f4c030);
}

.containner .box h3{
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;

}
.containner .box p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #fff;
}

/* End Services Section */
.clr{
    color: black;
    font-size: 80px;
}
.immg{
    width: 50%;
    margin-left: 25%;
    height: 50%;
}
/* footer*/
#footer {
	background-image: linear-gradient(60deg, #29323c48 0%, #48556357 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .2s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 13px;
}
/*contact*/ 

hr{
    background: rgb(255, 255, 255);	
}

.contact-form{
    background:rgba(0, 0, 0, 0.294);
    color:rgb(255, 255, 255);
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}
.tiill{
    font-size: 15px;
}
.tm{
    font-size: 15px;
}
.iimg{
    width: 380px;
}



@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */



 
/* Header section */
/*header*/
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
    height: auto;
   
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	
}
#header .nav-barr {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

.nav-listt ul {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    list-style: none;
}
#header .nav-listt ul a {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-listt ul li:hover a {
	color: crimson;
}
.contaainer {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
    
    
}





@media only screen and (min-width: 1200px) {
   #header .nav-listt ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
    }
  #header .nav-listt ul li {
    display: inline-block;
   }
  #header .nav-listt ul li a {
    font-size: 1.8rem;
 }
   }




    @media only screen and (min-width: 768px) {
        .cta {
            font-size: 2.5rem;
            padding: 20px 60px;
        }
        h1.section-title {
            font-size: 6rem;
        }
    
        /* Hero */
        #hero h1 {
            font-size: 7rem;
        }
        /* End Hero */
    }
    .numbers .rect {
        width: 10rem;
        height: 8rem;
      }
      .numbers .rect h1 {
        font-size: 2rem;
      }
    

}

/*  Section 2  */

.cover {
    width: 100%;
    height: 55vmin;
    background: url("back.jpg");
    background-position: -20rem -19rem;
    background-size: 150%;
    position: relative;
  }
  
  .cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  .cover .content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 19vmin;
  }
  
  .cover .content > h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
  }
  
  .cover .content > p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
  }
  
  .numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
  }
  
  .numbers {
    margin-top: -15vmin;
  }
  
  .numbers .rect h1 {
    font-size: 5rem !important;
    color: tomato;
  }
  
  .numbers .rect > p {
    font-family: var(--Patua);
  }
  
  .numbers .rect p {
    font-size: 2rem !important;
    font-weight: 400 !important;
    color: rgb(47, 44, 44) !important;
   
  }
  